@import "../../atoms/DefaultContainer/DefaultContainer.scss";
@import "../../../assets/style/variables.scss";

.footer-copyright {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $base-text-color;
    opacity: .3;
  }
}