.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  object-position: left;
}