@import '../../../assets/style/variables.scss';

.previewSpace {
  background-color: transparent;
  min-height: 97dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //width: calc(100% - 15px);

}


//.grid {
//  margin: 0 0;
//  width: 100%;
//  height: 100%;
//  background-color: white;
//}

.container {
  //background-color: #00a3c8;

  @media (min-width: 481px) {
    //background-color: #4bfd01;
  }
  @media (min-width: 769px) {
    //background-color: #f8f412;
    //grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1025px) {
    //background-color: #c25608;
    //grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1201px) {
    //background-color: #9f0406;
    //grid-template-columns: repeat(6, 1fr);
  }
}

.box {
  background-color: white;
  border-radius: 2px;
}

