html, body {
    height: 100%;
}

body {
    background-color: #FEFEFE;
}

.custom-cv__button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    line-height: 1.25;
    color: #1d88ed;
    background: #fff;
    border: 1px solid #1d88ed;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
}

.custom-cv__button:hover {
    background: #25cbd3;
    color: #fff;
}

.mt-30 {
    margin-top: 30px;
}

.container-1200 {
    width: 1200px;
    height: auto;
}



