$base-button-color: #4e4e4e;
$base-button-text: #bbb;
$hover-button-text: #c5c5c5;
$hover-button-color: #666;
$base-menu-color: #333;
$base-text-color: #384347;
$base-tabs-color: #777;
$active-tabs-color: #fff;
$bg-static-light: #eaf9f4;

$bg-sidebar-title: #1274e7;
$bg-sidebar: #2a2a2a;
