.anchor__input-pannel {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
  position: fixed;
  min-height: 120px;
  min-width: 240px;
}