@import "../../../assets/style/variables.scss";

.slide {
  &-image {
    width: 400px;
    border-radius: 20px;
    opacity: 1;
  }
  &-container {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 15px;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
    &:hover {
      background: $hover-button-color;
      &::after {
        content: 'Choose This Template';
        opacity: 1;
        text-wrap: nowrap;
        position: absolute;
        bottom: 30px;
        left: 1;
        padding: 4px 8px;
        border-radius: 5px;
        background: $hover-button-color;
      }
    }
  }
}