.section:hover {
    .landig-builder-add-btn {
        transform: scale(1);
    }
}

.landig-builder-add-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    transform: scale(0);
    transition: 0.2s;
    position: absolute;
    left: 10px;
    top: 10px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }