.container {
  flex: 1;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f6fa;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}

.img {
  max-width: 100%;
  height: auto;
}

.workspace {
  padding: 12px;
  margin: 12px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.08), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.itemContainer {
  display: flex;
  flex-direction: column;
}