.cvTemlpate {
  margin: 0;
  padding: 0 20px;
  background-color: lightsteelblue;
  min-height: 100vh;
}

.cvTemlpate__container {
  max-width: 1500px;
  margin: 0 auto;
}

.cvTemlpate__content {
  display: flex;
}

.cvTemlpate__demoCv {
  position: fixed;
  top: 20px;
  left: 20px;

  padding: 20px;
}

.cvTemlpate__left {
  width: 650px;

  flex: 1;
  position: relative;
}

.cvTemlpate__rightWrapper {
  flex: 1;
  padding: 20px;
}

.cvTemlpate__right {
  width: 100%;
  height: 100%;
}
