.specifications {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .specifications-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .specifications-item {
      width: 350px;
      height: 336px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      box-shadow: 0 5px 40px 0 rgb(0 0 0 / 11%);

      h3 {
        margin-bottom: 10px;
        color: #13287e;;
      }
    }
  }
}