@import "@assets/style/variables.scss";

.tools-panel-left {
  z-index: 3;

  & > button {
    padding: 5px;
    border-radius: 0;

    &:first-child {
      background-color: $bg-static-light;
    }

    & > svg {
      font-size: 1.25rem;
    }
  }
}
.tools-panel-right {
  z-index: 3;

  & > button {
    padding: 5px;
    border-radius: 0;

    &:first-child {
      background-color: $bg-static-light;
    }

    & > svg {
      font-size: 1.25rem;
    }
  }
}
.element-container {
  display: flex;
  position: absolute;
  left: 1px;
  top: 30%;
  width: 100%;
  height: auto;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1;
}

.drag-handle {
  cursor: grab;
  
  &:active {
    cursor: grabbing;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }
}
