@use "../../../assets/style/variables.scss" as *;

.list {
  &__wrap {
    position: fixed;
    right: 0px;
    top: 40px;
    width: 320px;
    height: Calc(100vh - 40px);
    background-color: $bg-sidebar;
    z-index: 1;
    padding-bottom: 20px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__close-btn {
    cursor: pointer;
    padding: 0 !important;
    margin-right: 4px !important;
  }
}

.tab {
  min-width: 30px !important;
}

.settings-panel {
  display: flex;
  flex-direction: column;
  width: 100%;

  &::after {
    content: "";
    width: 90%;
    align-self: center;
    height: 1px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: rgb(137, 119, 119);
  }
}

.hidden {
  display: none;
}

.settings-panel__bgcolor {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;

  & span {
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: start;
    color: $base-button-text;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  align-items: start;

  &:last-child::after {
    display: none;
  }

  &::after {
    content: "";
    width: 70%;
    align-self: center;
    height: 1px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
  }
}

.settings-panel__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.react-colorful {
  margin-top: 10px;
  align-self: center;
}

.settings-panel__items__btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  opacity: 1;
}

.settings-panel__items__btns__btn {
  width: 45%;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  height: 32px;
}

.settings-panel__items__btns .settings-panel__items__btns__btn--green {
  background-color: $bg-settings-btn-green;
  border-radius: 2px;

  &:hover {
    background-color: $bg-settings-btn-green-hover;
  }
}

.settings-panel__items__btns .settings-panel__items__btns__btn--grey {
  background-color: $base-button-color;
  border-radius: 2px;

  &:hover {
    background-color: $hover-button-color;
  }
}

.bg-form {
  width: 90%;
  height: 40px;
  border: none;
  background-color: $base-button-color;
  display: flex;
  border-radius: 2px;
  margin-right: 15px;

  & input {
    width: 89.5%;
    background-color: inherit;
    border: none;
    color: $base-button-text;
    margin-left: 5px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }
}

.bg-form__square {
  width: 40px;
  border: 1px solid black;
  border-radius: 2px;
}

.settings-panel__image__block {
  position: relative;
  width: 90%;
  align-self: center;
  border-radius: 5px;
  &__bgimage {
    background-color: #7aac98;
    border-radius: 5px 5px 0 0;
    padding-left: 5px;
  }

  & input {
    width: 100%;
    height: 40px;
    bottom: 0px;
    background-color: $base-button-color;
    font-size: 16px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 0 0 2px 2px;
    border: none;
  }
}

.settings-panel__items__btns__btn--blue {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: $bg-sidebar-title;
  border-radius: 2px;
  width: 100px;
  right: 5px;
  top: 28px;
}

.settings-panel__image__block__bgimage {
  padding-left: 0px;
  & img {
    width: 100%;
    vertical-align: middle;
  }
}

.settings-panel__image {
  & span {
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: $base-button-text;
    margin-left: 18px;
  }
}

.notification {
  margin-top: 15px;
  width: 80%;
  margin: 15px auto;
  border: 1px #bfd6f7 solid;
}

.notificationError {
  margin: 15px 0;
  border: 1px #d32f2f solid;
}

.list__title .title {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
