@use "../../../assets/style/variables.scss" as *;


.header-nav {
  display: flex;
  align-items: center;
  padding-left: 40px;
  &-list {
    display: flex;
    align-items: center;
    & li {
      padding-right: 40px;
    }
  }
}

.active-link {
  color: $hover-button-color;
}