.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.image {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: relative;
  display: inline-block;
}

.input {
  margin-top: 10px;
}

.wrapperInput {
  margin-top: 10px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.deleteBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;

  &:hover {
    background: rgba(255, 0, 0, 0.8);
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.2);
    cursor: auto;
  }

  &:focus {
    outline: rgba(0, 0, 0, 0.8);
  }
}

.nextButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  &:focus {
    outline: rgba(0, 0, 0, 0.8);
  }
}

.prevButton {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  &:focus {
    outline: rgba(0, 0, 0, 0.8);
  }
}

.carousel {
  width: 300px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.carouselWrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
}
