.container {
  display: flex;
  align-items: center;
  column-gap: 7px;
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 0;
}

.radio {
  cursor: pointer;
}
