@import "../../molecules/DefaultContainer/DefaultContainer.scss";
@import "../../atoms/MainTitle/MainTitle.scss";
@import "../../atoms/DefaultSubTitle/DefaultSubTitle.scss";
@import "../../../assets/style/variables.scss";
@import "../../atoms/BackgroundLayoutDark/BackgroundLayoutDark.scss";

.promo {
  &-content-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
  }
  &-buttons-wrapper {
    & button {
      margin-right: 20px;
    }
  }
  &-image {
    width: 400px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  margin-bottom: 40px;
}

.default-subtitle {
  margin-top: 150px;
}
