@use '../../../assets/style/variables.scss' as *;

.default-button {
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: $base-button-text;
  background-color: $base-button-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 9px 14px;
  max-height: 32px;
  border-radius: 2px;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: $hover-button-color;
    color: $hover-button-text;
    border-color: $hover-button-color;
    transition: all .3s ease-in-out;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline-color: $base-button-color;
  }
  &--primary {
    color: $hover-button-text;
    background-color: $hover-button-color;
  }
  &--float {
    position: fixed;
    height: 40px;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    opacity: 0.4;
  }
}