@import '../../../assets/style/variables.scss';

.default-button {
  color: $base-button-color;
  background-color: transparent;
  border: 2px solid $base-button-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 9px 14px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: $hover-button-color;
    color: white;
    border-color: $hover-button-color;
    transition: all .3s ease-in-out;
  }
  &--primary {
    color: white;
    background-color: $base-button-color;
  }
}