@import '../../../assets/style/variables.scss';

.default-button {
  color: $base-button-color;
  background-color: white;
  border: 2px solid $base-button-color;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 14px;
  border-radius: 3px;
  &--primary {
    color: white;
    background-color: $base-button-color;
  }
}