@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
   
    src: url("../../assets/fonts/Inter-Regular.ttf") format(ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
   
    src: url("../../assets/fonts/Inter-Medium.ttf") format(ttf);
}

.title {
    margin-top: 0;
    margin-bottom: 90px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: -.8px;
    color: black;
    max-width: 835px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
        font-size: 24px !important;
        margin-bottom: 40px;
    }

    &--head {
        letter-spacing: -1.4px;
        margin: 0;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 64px;
        line-height: 1.3;

        margin: 0;
        font-weight: 600;
        line-height: 1.3;

        @media (max-width: 768px) {
            letter-spacing: -.4px;
            margin-bottom: 10px;
            font-size: 32px !important;

            text-align: center;
        }

        @media (min-width: 1200px) {
            text-align: start;
        }
    }
}

.sub-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -.8px;
    color: black;
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: 992px) {
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: -.2px;
    }

    &--footer {
        font-weight: 600;
        font-size: 40px;
        letter-spacing: -.8px;
    }
}

.group-sub-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -.8px;
    color: black;
    margin: 0;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        font-size: 22px;
        letter-spacing: -.7px;
    }
}

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: black;

    @media (min-width: 992px) {
        font-size: 20px;
    }

    &--head {
        @media (min-width: 992px) {
            width: 55%;
        }
    }

    &--footer {
        margin-top: 18px;
        font-size: 20px;
        max-width: 600px;
        letter-spacing: -.6px;
    }
}

.group-description {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: black;

    &--border {
        color: grey;
    }
}

.card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 660px;  
        padding: 50px 0;  
    }

    @media (min-width: 768px) {
        max-width: 840px;    
    }

    @media (min-width: 992px) {
        max-width: 960px;    
        padding: 100px 0;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;    
    }

    @media (min-width: 1400px) {
        max-width: 1200px;    
    }

    @media (min-width: 1600px) {
        max-width: 1400px;    
    }

    @media (min-width: 1800px) {
        max-width: 1600px;    
    }

    &--head {
        flex-direction: column;

        @media (min-width: 1200px) {
            flex-direction: row;
        }
    }

    &--footer {
        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }
}

.card--large {
    align-items: center;
}

.container {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 40px 0;
    padding-left: 15px;
    padding-right: 15px;

    &--head {
        position: relative;
        padding: 50px 0 50px;
        margin-bottom: 50px;

        &::before {
            content: "";
            position: absolute;
            top: -77px;
            left: -290px;
            bottom: 0;
            right: -226px;
            background-color: #eafcff;
            border-radius: 0 0 360px 0;
        }
    }

    &--footer {
        position: relative;
        background-color: #eafcff;
        padding: 80px 0;
    }
}

.section-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
    margin: 0;
    margin-top: 20px;
    max-width: 100%;

    @media (min-width: 992px) {
        flex: 0 0 50%;
        max-width: 50%;
        
        margin-top: 0;
    }

    &--head {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1200px) {
            flex: 0 0 60%;
            max-width: 60%; 
            flex-direction: row;
        }
    }

    &--footer {
        @media (min-width: 992px) {
            flex: 0 0 60%;
            max-width: 60%; 
        }
    }
}

.wrapper-text {
    margin: auto;
    max-width: 526px;

    &--head {
        max-width: none;
        text-align: center;
        display: flex;
        
        flex-direction: column;
        align-items: center;

        @media (min-width: 1200px) {
            text-align: start;
            flex-direction: column;
            align-items: start;
        }
    }

    &--footer {
        max-width: none;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 992px) {
            text-align: start;   
            align-items: flex-start; 
        }
    }
}

.item {
    box-sizing: border-box;
    
    max-width: 333px;

    @media (max-width: 576px) {
        display: flex;
        max-width: 400px;
        margin-top: 20px;
    }

    margin: auto;

    &--big {
        max-width: 386px;

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 400px;
            margin-top: 20px;
        }
    }
}

.group-wrapper-image {
    width: 54px;
    padding-top: 4px;
    margin-right: 27px;
    margin-bottom: 20px;

    @media (min-width: 576px) {
        width: 100%;
        margin-right: 0;
    }

    &--big {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.group-wrapper-image--border {
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.group-image {
    max-width: 100%;
    height: auto;
}

.group-wrapper-description {
    margin-bottom: 20px;
}

.group-wrapper {
    box-sizing: border-box;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: 576px) {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @media (min-width: 992px) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

.group-wrapper--border {

    @media (max-width: 992px) {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

.item--border {
    border: 1.7px solid rgba(213, 212, 214, .5);
    border-radius: 25px;
    padding: 40px;
    padding-left: 30px;
    height: 100%;
    max-width: 100%;

    @media (max-width: 992px) {
        max-width: 638px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-top: 40px;
    }

    @media (max-width: 576px) {
        display: block;
    }
}

.button {
    box-sizing: border-box;
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    padding: 7px 30px;
    font-weight: 600;
    font-size: 22px;
    background-color: #852876;
    border: 1px solid #852876;
    color: #fff;
    border-radius: 16px;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    text-align: center;

    &:hover {
        background-color: #5d145f;
        color: #fff;
    }

    @media (max-width: 768px) {
        width: 100%;
        text-align: center;
        padding: 13px 20px;
    }
    
    @media (max-width: 1200px) {
        padding: 15px 40px;
        font-size: 16px !important;
    }

    &--footer {
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 30px;
    }
}

.image {
    max-width: 100%;
    height: auto;

    &--visible {
        display: block;
        max-width: 320px;
        margin-top: 25px;

        @media (min-width: 992px) {
            display: none;
        }
    }

    &--invisible {
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
    }
}

.wrapper-image {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    width: auto;
    overflow: clip;
    order: -1;

    @media (min-width: 992px) {
        flex: 0 0 50%;
        order: 2;
    }

    &--head {
        max-width: 300px;
        order: -1;

        @media (min-width: 1200px) {
            max-width: none;
            flex: 0 0 40%;
            order: 2;
        }   
    }
}

.link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: -.2px;
    color: #852876;
    font-weight: 600;
    border-bottom: 2px solid #852876;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;

    &:hover {
        color: #5d145f;
        border-bottom: 2px solid #5d145f;
    }
}