.item {
    background-color: white;
    border-radius: 2px;
  
    & > span {
      bottom: -3px !important;
  
      &:after {
        right: 0;
        bottom: 0;
        border-color: #1976d2 !important;
      }
    }
  
    & > span:first-of-type {
      left: -3px !important;
    }
  
    & > span:last-of-type {
      right: -3px !important;
    }
  }
