.CvTemplatePDF {
  position: relative;
  height: 100%;

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    color: black;
  }

  &__imgBtn {
    width: 100px;
    height: 180px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
  }
}
