.dream-dots {
  width: 100px;
  display: flex;
  gap: 5px;

  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00a8ff;
  }

  span:nth-child(2) {
    background-color: #9c88ff;
  }

  span:nth-child(3) {
    background-color: #fbc531;
  }

  span:nth-child(4) {
    background-color: #4cd137;
  }

  span:nth-child(5) {
    background-color: #487eb0;;
  }

  span:nth-child(6) {
    background-color: #e84118;
  }

  span:nth-child(7) {
    background-color: #8c7ae6;
  }

}