.wrapper, .wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    // padding-top: 10px;

    .wrap {
        margin-top: 10px;
        height: 100%;
    }
}


.Avatars {
    width: 60%;
    height: 60%;
    cursor: pointer;
}

.avatarImg {
    background: none;
}

.nick {
    text-align: center;
    display: block;
    width: 80%;
    height: 20px;
    //border: 1px solid gray;
    border-radius: 6px;
    margin-top: 10px !important;
    margin-left: 0 !important;
}