@use "@assets/style/variables.scss" as *;

.tools-panel {
  width: 100%;
  background-color: white;
  border: 2px solid #1976d2;
  border-radius: 3px;
  margin-bottom: 4px;
  box-shadow:
    0 1px 3px 3px rgba(0, 0, 0, 0.08),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: 3;
  bottom: 100%;
  left: -2px;
  transition: box-shadow 0.3s ease;

  &>button {
    padding: 5px;
    border-radius: 0;

    &:first-child {
      background-color: $bg-static-light;
    }

    &>svg {
      font-size: 1.25rem;
    }
  }
}

.element-container {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;

  &:hover .tools-panel {
    box-shadow:
      0 1px 3px 3px rgba(0, 0, 0, 0.15),
      0 5px 15px 0 rgba(0, 0, 0, 0.15);
    pointer-events: auto;
  }
}